body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(208, 100%, 97%);
}

form {
  background-color: hsl(210, 15%, 90%);
  max-width: 350px;
  border: 1px solid hsl(212, 16%, 84%);
  box-shadow: 3px 3px 8px hsl(212, 36%, 66%);
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

h1 {
  color: hsl(212, 66%, 61%);
  font-size: bold;
}

#textBox {
  text-align: center;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 2px solid hsl(219, 11%, 75%);
  padding: 5px;
  width: 50%;
  font-size: 2em;
}

label{
  font-size: 1.5em;
  font-weight: bold;
}

input {
  border-radius: 5px;
  border:  2px solid hsl(219, 11%, 75%);
  padding: 5px;
} 

button {
  margin-top: 5px;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1.5em;
  border-radius: 5px;
  background-color: hsl(202, 78%, 64%);
  cursor: pointer;
}

button:hover {
background-color: hsl(202, 70%, 75%);
}

#result{
  font-size: 1.75em;
  font-weight: bold;
}